@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

header {
    font-family: 'Abril Fatface';
    text-align: center;
}

Body {
    font-family: 'Source Sans Pro';
    background: #eee;
}

#newspaper-container {
    background: white;
    box-shadow: #ddd;
    width: 50%;
    border: solid white 1em;
    border-radius: 50%;
    box-shadow: 4em 2em 2em grey;
    padding: 1em;
}

main h5 {
    color: #dd3232;
    font-family: 'Roboto Slab';
}

nav a {
    color: #777;
    margin-left: -1.2em;
    text-decoration: none;
}

nav li{
    list-style: none;
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 1em;
    padding-bottom: 1em;
    display: inline-block;
}

nav {
    background-color:white;
    border-top: solid black .25em;
    border-bottom: solid black .25em;
    text-align: center;
    position: sticky;
    top: 5px;
}

main {
    font-family: 'Roboto Slab';
    align: center;
    
}

main img {
    display: block;
    width: 100%;
    height: auto;
}

#bonus {
    position: relative;
    display: inline-block;
    width: 30%;
    border-top: 1em;
    padding: 1em;
    text-align: center;
    margin: 0;
}

#bonus h4 {
    text-align: left;
    font-family: 'Abril Fatface';
}

#bonus img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
}

section h4 {
    text-align: left;
    font-family: 'Abril Fatface';
}

section {
    display: inline-block;
    width: 40%;
    border-top: 1em;
    padding: 5em;
    text-align: center;
}

section img {
    display: block;
    width: 100%;
    height: auto;
}

.footer li {
    list-style: none;
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 1em;
    padding-bottom: 1em;
    display: inline-block;
}

.footer a{
    color: black;
    margin-left: -1.2em;
    text-decoration: none;
}
